@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --header-height: 3rem;
    --body-font: 'Poppins', sans-serif;
    --font-size: .938rem;
    --background-color: rgb(25, 25, 25);
    --container-color: var(--background-color);
    --bg-content: rgb(35, 35, 35);
    --font-content: rgba(255, 255, 255, 0.863);
    --color-circle: rgb(248, 248, 248);
    --second-color: rgb(0, 204, 255);
    /* rgb(144, 255, 144) */
    --third-color: rgb(255, 255, 255);
    --p-color: rgba(255, 255, 255, 0.753);
    --lightest-grey: rgb(46, 46, 46);
    --box-shadow: black;
    --shadow-blob: white;
    --p-font: 'Poppins', sans-serif;

}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}


body {
    background-color: var(--background-color);
    margin: 0px;
    font-size: 1rem;
    font-family: var(--body-font);
}





::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--container-color);
    border: 3px solid var(--lightest-grey);
    border-radius: 12px;
}

::-webkit-scrollbar-track {
    background: var(--lightest-grey);
}

::selection {
    background-color: var(--lightest-grey);
}



/* DARK E LIGHT THEME ------------------------------------------- */

.change-theme {
    color: var(--color-circle);
    cursor: pointer;
    transition: color .3s;
}

body.light-theme {
    --background-color: rgb(254, 251, 252);
    --container-color: var(--background-color);
    --bg-content: #3a3a3a;
    --font-content: rgba(255, 255, 255, 0.863);
    --color-circle: rgb(46, 46, 46);
    --second-color: rgb(0, 204, 255);
    --third-color: rgba(31, 31, 31, 0.815);
    --p-color: rgba(0, 0, 0, 0.788);
    --bg-nav-menu: rgb(233 229 229);
    --shadow-blob: black;
    --lightest-grey: rgb(151, 151, 151);


}

/* LAYOUT =========================================================== */

.grid {
    display: grid;
    gap: 1.5rem;
}

.container {
    max-width: 968px;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
}

/* SECTION ================================================================== */

section {
    padding: 200px 0px;
    margin: 0px auto;
    max-width: 1000px;
}

.section {
    opacity: 0;
    transform: translate3d(-40px, 0, 0);
    transition: 0.7s;
}

section.animation-scroll {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}


.section-title {
    font-size: 1.5rem;
    color: var(--color-circle);
    text-align: center;
    margin-bottom: 4rem;
    position: relative;

}

.section-title::after {
    position: absolute;
    content: '';
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--second-color);
}



/* HEADER =========================================================== */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background-color);
    padding: 1.5rem 10%;
    transition: 0.2s;
    box-shadow: -3px -3px 7px #ffffff73,
        2px 2px 50px rgba(94, 104, 121, 0.288);
}

header.shadow {
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.15);
}


.nav-logo {
    font-size: 1rem;
    font-weight: 600;
    color: var(--third-color);
}


.nav-list {
    display: flex;
    gap: 2rem;
}

.nav-link {
    font-size: 1rem;
    color: var(--third-color);
    font-weight: 600;
}

#menu--icon {
    font-size: 30px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}


.active-link {
    position: relative;
    color: var(--second-color);
    transition: .3s;
}

/* Contact =========================================================== */

.contact-button:hover {
    filter: brightness(70%);
}

.contact-form {
    place-items: center;
    display: grid;
}

.contact-form form {
    flex-direction: column;
    width: 650px;
    display: flex;
}

form input,
textarea {
    padding: 1.8rem 2rem;
    background: var(--background-color);
    border: none;
    outline: none;
    resize: none;
    color: var(--third-color);
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--lightest-grey);
    font-size: 16px;
    font-family: var(--p-font);
}

form input::placeholder,
textarea::placeholder,
.contact-button {
    font-size: 16px;
    font-family: var(--p-font);
}

.contact-button {
    color: var(--third-color);
    width: 160px;
    background: var(--second-color);
    cursor: pointer;
    margin: 0 auto;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;

}

.contact-button:hover {
    background: #00c2f3cc;
}



/* SKILLS ------------------------------------------- */
.skills-container {
    padding-top: 1rem;
    row-gap: 3.5rem;
    grid-template-columns: repeat(2, 350px);
    justify-content: center;
}


.skills-content {
    background-color: var(--bg-content);
    color: var(--font-content);
    padding: 1.5rem;
    border-radius: 1.25rem;

}

.skills-title {
    text-align: center;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: 18px;
    margin-bottom: 2.5rem;
}

.skills-title i {
    font-size: 20px;
    font-weight: initial;
}

.skills-info,
.skills-data,
.skills-circle {
    display: grid;
}

.skills-info {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem 2rem;
}

.skills-data {
    justify-content: center;
    text-align: center;
}

.skills-circle {
    width: 80px;
    height: 80px;
    background-color: rgb(40, 40, 40);
    place-items: center;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.skills-circle img {
    width: 50px;
}

.skills-name {
    font-size: 16px;
    margin-bottom: .25rem;

}

.skills-icon {
    transition: 4s ease-in-out;
}

.skills-icon:hover {
    transform: rotate(360deg);
}

/* PROJECTS =========================================== */



.projects-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 3rem;
}

.projects-container {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    min-height: 28.12rem;
    background-color: rgb(41, 41, 41);
    padding: 1.2rem;
    border-radius: 0.8rem;
}

.card {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 4px;
    overflow: hidden;
    /*background: #00c4f3;  */

}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}


.projects-links {
    padding: 0.5rem 0;
    display: flex;
    column-gap: 0.5rem;
    margin-top: auto;
}

.projects-links a{
    display: flex;
    gap: 10px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 0.5rem 0.5rem;
    font-size: 16px;
    color: #7e7b87;
    border-radius: 8px;
    border: 1px solid #1c1829;

}

.projects-icon {
    font-size: 20px;
    color: #3a3a3a;
}

.projects-desc {
    padding: 0.4rem 0;
}

.projects-desc h2 {
    color: rgb(222, 222, 222);
    font-weight: 600;
    margin: 0.5rem 0;
}

.projects-desc p {
    color: #938f9f;
    font-weight: 400;
    font-size: 0.9rem;
    text-align: justify;
}



/* HOME ------------------------------------------------------ */

.home-section {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    height: 100vh;
    padding: 0px;
}


.home-data-title {
    font-size: clamp(14px, 5vw, 30px);
    color: var(--third-color);
    font-weight: 400;
    line-height: 1.5;
    margin: 0px 0px 30px 4px;
}

.home-data-subtitle {
    margin: 0;
    font-size: clamp(40px, 8vw, 65px);
    font-weight: 600;
    color: var(--second-color);
    line-height: 1.5;

}

.big-heading {
    margin: 5px 0px 0px;
    color: var(--third-color);
}


.home-data-description {
    color: var(--p-color);
    max-width: 540px;
    margin: 20px 0px 0px;

}


.button-flex {
    display: inline-flex;
    align-items: center;
}

.button {
    background-color: rgb(0, 204, 255);
    color: var(--third-color);
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    margin-top: 40px;
}

.button:hover {
    filter: brightness(70%);
}

.button-icon {
    font-size: 1.25rem;
    margin-left: 0.5rem;
}

/* About Me ================================================= */


.img-profile:hover {
    filter:grayscale(100%)
}

.button-resume {
    padding: 1rem;
    color: #000000;
    background-color:#818085;
    margin-top: -30px;
    margin-left: -10px;
    border-radius: 0.5rem;
}

.about-resume {
    font-size: 1.25rem;
    margin-right: 0.5rem;
}


.box-img {
    position: relative;
    width: 310px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-profile {
    width: 300px;


}

.box-img::after {
    content: " ";
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, transparent, var(--second-color));
    animation: animate 4s linear infinite;
    animation-delay: -2s;

}

.box-img::before {
    content: " ";
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, transparent, var(--third-color));
    animation: animate 4s linear infinite;

}

@keyframes animate {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

.box-img .img-profile {
    position: absolute;
    inset: 5px;
    z-index: 1;
}



.about-me {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.about-data {
    max-width: 500px;
}

.desc {
    font-size: 16px;
    color: var(--third-color);
    line-height: 2em;
    text-align: justify;
    font-family: var(--p-font);
    margin: 0px 0px 15px;

}



/* Qualification ------------------------------------------- */

.qualification-tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.qualification-button {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: var(--third-color);
}

.qualification-button:hover {
    color: var(--second-color);
}

.qualification-icon {
    font-size: 1.8rem;
    margin-right: 0.35rem;
}

.qualification [data-content] {
    display: none;
}

.qualification-active[data-content] {
    display: block;
}

.qualification-button.qualification-active {
    color: var(--second-color)
}


.button--flex {
    display: inline-flex;
    align-items: center;
}

.hexa {
    border: 0px;
    float: left;
    text-align: center;
    height: 35px;
    width: 60px;
    font-size: 22px;
    background: #f0f0f0;
    color: #3c3c3c;
    position: relative;
    margin-top: 15px;
}

.hexa:before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f0f0f0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    top: -15px;
}

.hexa:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 15px solid #f0f0f0;
    bottom: -15px;
}

.timeline {
    position: relative;
    padding: 0;
    width: 100%;
    margin-top: 20px;
    list-style-type: none;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background: linear-gradient(to bottom, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    z-index: 5;
}

.timeline li {
    padding: 2em 0;
}

.timeline .hexa {
    width: 16px;
    height: 10px;
    position: absolute;
    background: #00c4f3;
    z-index: 5;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -30px;
    margin-top: 0;
}

.timeline .hexa:before {
    border-bottom: 4px solid #00c4f3;
    border-left-width: 8px;
    border-right-width: 8px;
    top: -4px;
}

.timeline .hexa:after {
    border-left-width: 8px;
    border-right-width: 8px;
    border-top: 4px solid #00c4f3;
    bottom: -4px;
}

.direction-l,
.direction-r {
    float: none;
    width: 100%;
    text-align: center;
}

.flag-wrapper {
    text-align: center;
    position: relative;
}

.flag {
    position: relative;
    display: inline;
    background: rgb(255, 255, 255);
    font-weight: 600;
    z-index: 15;
    padding: 6px 10px;
    text-align: left;
    border-radius: 5px;

}

.direction-l .flag:after,
.direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -15px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    border-width: 8px;
    pointer-events: none;
}

.direction-l .flag {
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
    line-height: 1em;
    color: #fff;
}

.direction-l .time-wrapper {
    float: none;
}

.direction-r .time-wrapper {
    float: none;
}

.time {
    background: #00c4f3;
    display: inline-block;
    padding: 8px;
}


@media(min-width: 768px) {


    .qualification-tabs {
        justify-content: center;
    }


    .qualification-button {
        margin: 0 1rem;
    }

    .timeline {
        width: 660px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .timeline li:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .timeline .hexa {
        left: -28px;
        right: auto;
        top: 8px;
    }

    .timeline .direction-l .hexa {
        left: auto;
        right: -28px;
    }

    .direction-l {
        position: relative;
        width: 310px;
        float: left;
        text-align: right;
    }

    .direction-r {
        position: relative;
        width: 310px;
        float: right;
        text-align: left;
    }

    .flag-wrapper {
        display: inline-block;
    }

    .flag {
        font-size: 17px;
    }

    .direction-l .flag:after {
        left: auto;
        right: -16px;
        top: 50%;
        margin-top: -8px;
        border: solid transparent;
        border-left-color: rgb(254, 254, 254);
        border-width: 8px;
    }

    .direction-r .flag:after {
        top: 50%;
        margin-top: -8px;
        border: solid transparent;
        border-right-color: rgb(254, 254, 254);
        border-width: 8px;
        left: -8px;
    }

    .time-wrapper {
        display: inline;
        vertical-align: middle;
        margin: 0;
    }

    .direction-l .time-wrapper {
        float: left;
    }

    .direction-r .time-wrapper {
        float: right;
    }

    .time {
        padding: 5px 10px;
    }


}

@media(min-width: 992px) {
    .timeline {
        width: 800px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .direction-l {
        position: relative;
        width: 380px;
        float: left;
        text-align: right;
    }

    .direction-r {
        position: relative;
        width: 380px;
        float: right;
        text-align: left;
    }


}




/* menu lateral ------------------------------------------- */

.menu-left {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
}

.menu-list {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.menu-list li a {
    padding: 10px;
}

.menu-item a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
}

.menu-icon {
    font-size: 20px;
    color: var(--color-circle);


}

.menu-left::after {
    content: "";
    width: 1px;
    height: 80px;
    background-color: var(--third-color);
    display: block;
    margin: 0px auto;

}

.menu-list li:last-of-type {
    margin-bottom: 15px;
}

.menu-icon:hover {
    color: var(--second-color)
}


.footer-social {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 70px;
    padding: 15px;


}

.footer-menu ul {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.footer-menu ul a {
    padding: 10px;
}

.footer-menu {
    display: none;
}

/*------------------------------------------- */





/* MEDIA QUERIES ---------------------------------------------------- */

@media (max-width: 1080px) {

    .fillHeight {
        padding: 0px 60px;
    }

    .menu-left {
        left: auto;
        right: 15px;
    }
}

@media (max-width:900px) {

    .skills-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-form form {
        flex-direction: column;
        width: 600px;
        display: flex;
    }


}

@media (max-width: 767px) {

    .fillHeight {
        padding: 0px 45px;
    }

    #menu--icon {
        display: initial;
        color: var(--third-color);
    }

    .footer-social {
        border-top: 1px solid #585858;
    }

    header {
        padding: 20px 4%;
    }

    header .nav-list {
        position: absolute;
        top: -500px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--container-color);
        box-shadow: 0 4px 4px rgba(255, 255, 255, 0.1);
        transition: 0.2s ease;
        text-align: center;

    }

    .nav-list.active {
        top: 100%;
    }

    .nav-link {
        display: block;
        background-color: var(--background-color);
        padding: 1.5rem;
    }


    .nav-list {
        gap: 0;
    }

    .menu-left {
        display: none;
    }

    .footer-menu {
        display: block;
        width: 100%;
        max-width: 220px;
        color: var(--third-color);
    }

    .contact-form form {
        flex-direction: column;
        width: 500px;
        display: flex;
    }


    .desc {
        font-size: 14px;
    }
}

@media (max-width:680px) {

    .skills-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills-info {
        grid-template-columns: repeat(3, 1fr);
    }

    .contact-form form {
        flex-direction: column;
        width: 100%;
        display: flex;
    }

}

@media (max-width: 576px) {

    .home-data-title {
        margin: 0px 0px 10px 2px;
        font-size: clamp(14px, 4vw, 30px);
    }

    .home-data-subtitle {
        font-size: clamp(38px, 7vw, 65px);
        ;
    }

    .home-data-description {
        font-size: 14px;
    }

    .skills-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills-info {
        grid-template-columns: repeat(3, 1fr);
    }


    .contact-form form {
        flex-direction: column;
        width: 100%;
        display: flex;
    }

    .box-img {
        width: 200px;
        height: 200px;
    }

    .img-profile {
        max-width: 95%;
    }


}

@media (max-width: 480px) {

    .fillHeight {
        padding: 0px 20px;
    }

    .home-data-title {
        margin: 0px 0px 10px 2px;
        font-size: clamp(14px, 4vw, 30px);
    }

    .home-data-subtitle {
        font-size: 30px;
        /* TESTE 28px */
    }

    .home-data-description {
        font-size: 14px;
    }

    .skills-container {
        grid-template-columns: repeat(1, 350px)
    }

    .skills-info {
        grid-template-columns: repeat(3, 1fr);
    }


    .contact-form form {
        flex-direction: column;
        width: 350px;
        display: flex;
    }

}

@media (max-width:360px) {

    .skills-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills-info {
        grid-template-columns: repeat(2, 1fr);

    }


    .contact-form form {
        flex-direction: column;
        width: 100%;
        display: flex;
    }


    .home-data-subtitle {
        font-size: 27px;
    }


    .home-data-description {
        font-size: 14px;
    }



}




@media screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .home-data {
        margin-left: 2.0rem;
    }



}

@media screen and (max-width: 767px) {}

@media screen and (min-width: 576px) {}

@media screen and (max-width: 350px) {

    .container {
        margin-left: auto;
        margin-right: auto;
    }

}



/*------------------------------------------------------------------------ */



@media screen and (min-width: 767px) {
    body {
        margin: 0;
    }


    .nav-link:hover {
        color: var(--second-color);
    }

    .section-title::after {
        width: 80px;
        top: 2.5rem;
    }



}